.post-wrapper {
  min-height: 250px;
  border: 1px solid #EBEBEB;
  .post-body {
    border-left: 1px solid #EBEBEB;
  }
}

.border-light {
  border: 1px solid #EBEBEB;
}

.posts-buttons {
  border-right: 4px solid #ffc107;
}


