.sidebar {
  width: 250px;
  .side-block {
    border-radius: 3px;
    border: 1px solid #EBEBEB;
    margin-bottom: 20px;
  }
}

.post-list{
  list-style-type: none;
  border-left: solid 1px;
  border-right: solid 1px;
  border-color: #EBEBEB;

  &:last-child{
    border-radius: 0 0 3px 3px;
    border-bottom: 1px solid;
    border-color: #EBEBEB;
  }
}

.forum-title {
  text-decoration: none;
  color: #46494f;
  font-weight: 700;
}
