<div class="d-flex flex-column flex-nowrap" style="height: 100vh;">

  <!--Header-->
  <a id="to-the-top" class="anchor" accesskey="t"></a>
  <div id="wrap-head">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
      <div class="container d-flex flex-row">
        <a class="navbar-brand site-logo mx-auto" href="/" title="Board index"></a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']" title="Login" accesskey="x"><i
                class="fa fa-power-off"></i>
                <span class="nav-rh-2">Login</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i
                class="far fa-edit"></i>
                <span class="nav-rh-2">Register</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </div>


  <!--CONTENT through router outlet-->
  <router-outlet></router-outlet>


  <!--FOOTER-->

  <div class="bg-dark pt-4 pb-2 mt-auto">
    <div class="container d-flex flex-sm-row flex-column">

      <div class="foot-left w-100">
        <ul class="nav mb-3 text-grey">
          <li class="nav-item mx-1"><a class="nav-link" href="#">Board index</a></li>
          <li class="nav-item mx-1"><a class="nav-link" href="#">Delete all board cookies</a></li>
          <li class="nav-item mx-1"><a class="nav-link" href="#">The team</a></li>
          <li class="nav-item mx-1"><a class="nav-link" href="#">Contact us</a></li>
        </ul>

        <ul class="nav text-grey">
          <li class="nav-item mx-auto mx-sm-1">
            <a class="nav-link" href="#">
              <i class="fab fa-youtube fa-lg"></i>
            </a>
          </li>
          <li class="nav-item mx-auto mx-sm-1">
            <a class="nav-link" href="#">
              <i class="fab fa-twitter fa-lg"></i>
            </a>
          </li>
          <li class="nav-item mx-auto mx-sm-1">
            <a class="nav-link" href="#">
              <i class="fab fa-facebook-f fa-lg"></i>
            </a>
          </li>
          <li class="nav-item mx-auto mx-sm-1">
            <a class="nav-link" href="#">
              <i class="fab fa-rebel fa-lg"></i>
            </a>
          </li>
        </ul>
      </div>

     <!-- <div class="foot-center mx-auto" style="min-width: 50px">
        <a href="#to-the-top">
          <i class="fa fa-chevron-up text-grey" style="font-size: 2rem"></i>
        </a>
      </div>-->

      <div class="foot-right w-100">
        <ul class="navbar-nav text-right text-grey">
          <li class="mb-3">All times are <abbr title="UTC">UTC</abbr></li>
          <li>It is currently {{currentDate | date:'dd MMM yyyy, HH:mm'}}</li>
        </ul>
      </div>


    </div>
    <div class="foot-copyright container text-light text-center">
      <hr>
      <small class="my-2 font-weight-light">Powered by <i class="fas fa-shield-alt"></i> JWorks Security CC</small>
    </div>
  </div>
</div>
