/* You can add global styles to this file, and also import other style files */
html{
  height: 100vh;
}

body{
  font: 400 0.8rem "Open Sans", Arial, Helvetica, sans-serif;
  color: #46494f;
  min-height: 100vh;
}


.text-grey{
  color: #8d939e !important;
}
